body{
    background-color: #11ff00;
    margin-left:40%;
    margin-right:40%;
}

.top{
    background-color:orange;
    width:320px;
    height:140px;
}

.mid{
    background-color:white;
    width:320px;
    height:140px;
}

.botm{
    background-color:green;
    width:320px;
    height:140px;
}

.flag{
    display: flex;
    flex-direction: row-reverse;
}